/*generics*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

/*content*/

.title{
    height: 10vh;
    color: rgb(56, 133, 248);
}

.bg-lightblue{
    height: 10vh;
    background-color: rgb(56, 133, 248);
    color: white;
}

.icons-container{
    justify-content: center;
    padding: 10px;
    height: 80vh;
    background-color: lightgrey;
}

.cella{
    height: 80px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

i{
    font-size: 30px;
}

.orange{
    color: orange;
}

.green{
    color: green;
}

.blue{
    color: blue;
}
